<h2>Nueva pareja para tu mascota !!!</h2>

<p>
Hola, tienes una solicitud de encuentro de mascota de uno de nuestros usuarios.
    Tu mascota {{ petName }} cumple los requisitos solicitados.
Si deseas ponerte en contacto con él, el usuario te proporciona su correo electrónico:
    {{ senderEmail }}
</p>

<small>Web de mascotas busca en su base de datos mascotas compatibles atendiendo a
criterios de tipo de mascota, raza y sexo
</small>
<h2>Un saludo !!!</h2>